@import 'base/variables';
@import 'blocks/carousel';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'blocks/consultation';
@import 'blocks/title';
@import 'blocks/forms';
@import 'blocks/modal';
@import 'blocks/catalog';
@import 'blocks/footer';
@import 'blocks/recall';
@import 'blocks/media';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}








    











        
          
