.advantage {
    min-height: 475px;
    padding: 70px 0 67px 0;
    background: #F6F6F6;
    &__benefits {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
    }
    &__icons {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 749px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #0D0D0D;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        span {
            display: block;
            margin-top: 35px;
        }
    }
    &__subheader {
        margin: 0 auto;
        width: 262px;
        display: block;
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        a {
        font-weight: 300;
        font-size: 14px;
        text-decoration-line: underline;
        color: #FF0000;
        }
    }
    }